<p>This is vis.js plot visualization. There isn't much interactivity to be implemented here.</p>

<div ng-controller="View2Ctrl">
    <vis-graph2d data="data" options="options" events="events" height="100%"></vis-graph2d>
    <!--<div class="md-panel-content">-->
        <!--<md-list>-->
            <!--<md-list-item ng-repeat="item in data.items">-->
                <!--<div>-->
                    <!--<md-input-container>-->
                        <!--<label>Date</label>-->
                        <!--<input ng-model="data.items">-->
                        <!--{{item}}-->
                    <!--</md-input-container>-->
                <!--</div>-->
            <!--</md-list-item>-->
        <!--</md-list>-->

        <!--<table style="width:100%">-->
            <!--<tr>-->
                <!--<th></th>-->
                <!--<th></th>-->
                <!--<th></th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</div>-->
</div>
