<p>This is a vis.js network visualization.
    Selecting a node/edge and then showing a magic trick makes it disappear.
    The second button reverts this.
    Doesn't work on legend, it;s static.
    Doubleclicking on nodes updates the input.
</p>

<div ng-controller="View1Ctrl">

    <md-button ng-click="hideSelection()">SHOW A MAGIC TRICK</md-button>
    <md-button ng-click="showHiddenNodesAndEdges()">Enough</md-button>
    <!--<h4>{{activeNode}}</h4>-->
    <md-input-container class="md-block">
        <label>Active element</label>
        <input ng-model="activeNode">
    </md-input-container>

    <!--<pre id="eventDC"></pre>-->

    <vis-network data="data" options="options" events="events" height="100%"></vis-network>

</div>
